<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link href="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<title th:text="${title}"></title>
</head>
<body class="bg-light">

	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" th:href="@{/}">Primescore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}"> <span class="fas fa-house-user"></span>&nbsp; Home </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-align-justify"></i>&nbsp;Results</a>
              </li>
            </ul>   
            
            <a class="nav-link " href="#"><i class="fas fa-user-circle fa-2x text-dark"></i></a>
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}"><b><i class="fas fa-sign-out-alt"></i>Logout</b></a>
              </li>
            </ul>
               
        </div>
      </nav>
	<!-- navbar -->
	<div th:replace="${content}"></div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>	
</body>
</html>