<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="teacher/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body class="bg-light">
	<section th:object="${quiz}">
		<div class="container">
			<div class="row mt-5">
				<div class="col-sm-12">
				<div class="alert alert-success" role="alert">
  				<h3 class="text-center text-uppercase"><span th:text="${quiz.name}+'-Quiz'"></span></h3>
				</div>
			<ol type="1" class="shadow">
				<li th:each="q:${quiz.questions}" class="p-1">
					<h6><span th:text="${q.content}"></span></h6>
					<ol type="a">
					<li th:each="a:${q.answers}">
					<input type="radio">
					<span th:text="${a.answerContent}"></span>
					</li>
					</ol>
				</li>
			</ol>	
			</div>
		</div>
		</div>
	</section>
</body>
</html>