<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="base::layout(~{::section})">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Primescore</title>
  </head>
  <body>
  <section>
      <div class="container">
        <div class="row mt-4">
          <div class="col-sm-7">
            <img th:src="@{/img/img2.JPG}" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-sm-5 mt-5">
            <div class="mt-5">
              <h2>Learn Better Together</h2>
              <p>Manage your classroom. Engage your students.Safe. Simple. Free.</p>
              <a th:href="@{/choosesignup}" type="button" class="btn btn-warning">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
        <hr>
        <div class="container">
          <div class="row mt-3">
            <div class="col-sm-7 mt-5">
              <div class="mt-5">
                <div class="header">
                  <h3>For Teachers</h3>
                </div>
                <h2>Tools that Teachers need</h2>
                <p>Send messages, share class materials, and make learning accessible anywhere. Save yourself time by bringing all your classroom tools together.</p>
                <p>Roll out Primescore to every user effortlessly, take advantage of special PD features, and streamline communication school-wide. Get even more when you integrate your entire school with Primescore.</p>
                <button type="button" class="btn btn-warning">See How</button>
              </div>
            </div>
            <div class="col-sm-5">
              <img th:src="@{/img/img3.JPG}" class="img-fluid" alt="Responsive image">
            </div>
          </div>
        </div>
        <hr>
        <div class="container">
          <div class="row mt-3">
            <div class="col-sm-7">
              <img th:src="@{/img/img4.JPG}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-sm-5 mt-5">
              <div class="mt-5">
                <div class="header"><h3>For Students</h3></div>
                <h2>A platform students love</h2>
                <p>Raise your confidence, find your voice, and experience what it means to be a digital citizen. Empower your learning and become part of a vibrant classroom community.</p>
              </div>
              <button type="button" class="btn btn-warning">learn How</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="container">
          <div class="row mt-3">
            <div class="col-sm-7 mt-5">
              <div class="mt-5">
                <div class="header">
                  <h3>For Parents</h3>
                </div>
                <h2>Updates that parents want</h2>
                <p>Get class updates, stay in sync with teachers, and support learning at home. See classroom activity and grades at a glance to help students stay on track.</p>
                <button type="button" class="btn btn-warning">See How</button>
              </div>
            </div>
            <div class="col-sm-5">
              <img th:src="@{/img/img5.JPG}" class="img-fluid" alt="Responsive image">
            </div>
          </div>
        </div>
        <hr>
        <div class="container">
        <div class="row mt-3">
          <div class="col-sm-7">
            <img th:src="@{/img/img1.png}" class="img-fluid" alt="Responsive image">
          </div>
          <div class="col-sm-5 mt-5">
            <div class="mt-5">
              <h2>For everyone in your school (or district)</h2>
              <p>Roll out Primescore to every user effortlessly, take advantage of special PD features, and streamline communication school-wide. Get even more when you integrate your entire school with Primescore.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-5">
        <div class="row bg-light">
          <div class="col-sm-4 mt-2">
            <h3><b>Primescore</b></h3>
            <p>Primescore is a global education network that helps connect all learners with the people and resources needed to reach their full potential.</p>
          </div>
          <div class="col-sm-5"></div>
          <div class="col-sm-3 mt-4">
            <h5>Contact Us</h5>
            <div class="space">
              <a href="http://google.com/+"><span class="fa fa-google-plus fa-2x"></span></a>
              <a href="http://www.facebook.com/profile.php?id="><span class="fa fa-facebook-square fa-2x"></span></a>
              <a href="http://www.linkedin.com/in/"><span class="fa fa-linkedin-square fa-2x"></span></a>
              <a href="http://twitter.com/"><span class="fa fa-twitter-square fa-2x"></span></a>
              <a href="http://youtube.com/"><span class="fa fa-youtube-play fa-2x"></span></a>
              <a href="mailto:"><span class="fa fa-envelope fa-2x"></span></a>
          </div>
          </div>
            <p class=" mx-auto">Primescore Ⓒ 2020</p> 
        </div>
      </div>
  </section>    
  </body>
</html>